body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-logo {
    width: 25%; 
    max-height: auto;
    object-fit: contain; 
}

.header p {
  font-size: 25px;
}

.search-bar {
  background-color: #69b3e7;
  color: white;
}

.search-bar form {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-between;
  align-items: center;

  margin: 0.5% 2%;
}

.search-bar label {
  margin: 1%;
  max-width: 15%;
}

.search-bar input {
  padding: 0.5% 5%;

  font-size: 100%;
  border: none;
}

.search-bar button {
  margin: 1%;
  max-width: 15%;
  padding: 0.5% 4%;
  font-size: 100%;

  background-color: #76ff7a;
  border: none;
  
}

.src-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
  align-items: center;
  margin: 0.5%;

  /* aestethic */
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.src-item button {
  margin-right: 2.5%;
  max-width: 15%;
  padding: 0.5% 4%;
  justify-content: flex-end;

  font-size: 100%;
  background-color: salmon;
  border: none; 
}

.number {
  padding-left: 5%;
}

.name {
  padding-left: 8%;
}

.email {
  padding-left: 25%;
  text-align: center;
}